

<div class="product-container">

<div class="container">
  <div class="sidebar  has-scrollbar" data-mobile-menu>

    <div class="sidebar-category">

      <div class="sidebar-top">
        <h2 class="sidebar-title">Category</h2>

        <button class="sidebar-close-btn" data-mobile-menu-close-btn>
          <i class="pi pi-close"></i>
        </button>
      </div>

      <ul class="sidebar-menu-category-list">

        <li class="sidebar-menu-category" *ngFor="let i of accordion">

          <button class="sidebar-accordion-menu" data-accordion-btn>

            <div class="menu-title-flex">
              <img src="{{i?.img}}" alt="clothes" width="20" height="20"
                class="menu-title-img">

              <p class="menu-title">{{i?.title}}</p>
            </div>

            <div>
              <i class="pi pi-plus add-icon"></i>
              <i class="pi pi-minus remove-icon"></i>
            </div>

          </button>

          <ul *ngFor="let b of i?.data" class="sidebar-submenu-category-list" data-accordion>

            <li class="sidebar-submenu-category">
              <a href="#" class="sidebar-submenu-title">
                <p class="product-name">{{b?.name}}</p>
                <data value="{{b?.price}}" class="stock" title="{{b?.title}}">{{b?.price}}</data>
              </a>
            </li>

          </ul>

        </li>

      </ul>

    </div>


  </div>

  <div class="product-box">



    <!--
      - PRODUCT GRID
    -->

    <div class="product-main">

      <h2 class="title">New Products</h2>

      <div class="product-grid">

        <div class="showcase" *ngFor="let i of product_card">

          <div class="showcase-banner">

            <img src="{{i?.img[0]}}" alt="Mens Winter Leathers Jackets" width="300" class="product-img default">
            <img src="{{i?.img[1]}}" alt="Mens Winter Leathers Jackets" width="300" class="product-img hover">

            <p class="showcase-badge">15%</p>

            <div class="showcase-actions">

              <button class="btn-action">
                <i class="pi pi-heart"></i>
              </button>

              <button class="btn-action">
                <i class="pi pi-eye"></i>
              </button>


              <button class="btn-action">
                <i class="pi pi-shopping-bag"></i>
              </button>

            </div>

          </div>

          <div class="showcase-content">

            <a href="#" class="showcase-category">{{i?.category}}</a>

            <a href="#">
              <h3 class="showcase-title">{{i?.title}}</h3>
            </a>

            <div class="showcase-rating">
              <i class="pi pi-star-fill"></i>
              <i class="pi pi-star-fill"></i>
              <i class="pi pi-star-fill"></i>
              <i class="pi pi-star"></i>
              <i class="pi pi-star"></i>
            </div>

            <div class="price-box">
              <p class="price">{{i?.price}}</p>
              <del>$75.00</del>
            </div>

          </div>

        </div>



      </div>

    </div>

  </div>
</div>
</div>
