
@import './_variables';
/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: "Poppins", sans-serif;
  }

  a { text-decoration: none; font-family: "Poppins", sans-serif;}

  li { list-style: none; font-family: "Poppins", sans-serif;}

  button {
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
  }

  img, ion-icon, button, a { display: block; }

  span { display: inline-block; font-family: "Poppins", sans-serif;}

  html {
    font-family: "Poppins", sans-serif;
    overscroll-behavior: contain;
  }

  input {
    display: block;
    width: 100%;
    // font: inherit;
    outline: none !important;
    font-family: "Poppins", sans-serif;
  }

  input::placeholder { font-family: "Poppins", sans-serif; }

  body { font-family: "Poppins", sans-serif;}

  // /**
  //  * scrollbar style
  //  */

  // body::-webkit-scrollbar { width: 15px; }

  // body::-webkit-scrollbar-track {
  //   background: $white_color;
  //   border-left: 1px solid rgba($white_color, 0.93);
  // }

  // body::-webkit-scrollbar-thumb {
  //   background:rgba($white_color, 0.8);
  //   border: 3px solid $white_color;
  //   border-radius: 10px;
  // }

  // body::-webkit-scrollbar-thumb:hover { background: rgba($white_color, 0.7); }

