$primary_color: #1b86d2;
$secondary_color: #0141ff;
$danger_color: #960200;
$black_color: #191516;
$white_color: #ffffff;

$spanish-gray: hsl(0, 0%, 60%);
$sonic-silver: hsl(0, 0%, 47%);
$eerie-black: hsl(0, 0%, 13%);
$salmon-pink: hsl(227, 89%, 52%);
$sandy-brown: hsl(29, 90%, 65%);
$bittersweet: hsl(216, 93%, 48%);
$ocean-green: hsl(152, 51%, 52%);
$davys-gray: hsl(0, 0%, 33%);
$cultured: #ede9e9;
$white: hsl(0, 100%, 100%);
$onyx: hsl(0, 0%, 27%);


$fs-1: 1.563rem;
$fs-2: 1.375rem;
$fs-3: 1.25rem;
$fs-4: 1.125rem;
$fs-5: 1rem;
$fs-6: 0.938rem;
$fs-7: 0.875rem;
$fs-8: 0.813rem;
$fs-9: 0.75rem;
$fs-10: 0.688rem;
$fs-11: 0.625rem;

$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;

/**
 * border-radius
 */

$border-radius-md: 5px;
$border-radius-sm: 2px;

/**
 * transition
 */

$transition-timing: 0.2s ease;
