<footer>
  <div class="footer-category">
    <div class="container">
      <h2 class="footer-category-title">Brand directory</h2>

      <div class="footer-category-box">
        <h3 class="category-box-title">Fashion :</h3>

        <a href="#" class="footer-category-link">T-shirt</a>
        <a href="#" class="footer-category-link">Shirts</a>
        <a href="#" class="footer-category-link">shorts & jeans</a>
        <a href="#" class="footer-category-link">jacket</a>
        <a href="#" class="footer-category-link">dress & frock</a>
        <a href="#" class="footer-category-link">innerwear</a>
        <a href="#" class="footer-category-link">hosiery</a>
      </div>
    </div>
  </div>

  <div class="footer-nav">
    <div class="container">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <h2 class="nav-title">Our Company</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Delivery</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Legal Notice</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Terms and conditions</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">About us</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Secure payment</a>
        </li>
      </ul>

      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <h2 class="nav-title">Services</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Prices drop</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Contact us</a>
        </li>
      </ul>

      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <h2 class="nav-title">Contact</h2>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <i class="pi pi-map-marker"></i>
          </div>

          <address class="content">Youpwe Marina Douala Cameroon</address>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <i class="pi pi-phone"></i>
          </div>

          <a href="tel:+607936-8058" class="footer-nav-link"
            >(+237) 652-293-499/ (+237) 6-70-453-555</a
          >
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <i class="pi pi-envelope"></i>
          </div>

          <a href="mailto:example@gmail.com" class="footer-nav-link"
            >example@gmail.com</a
          >
        </li>
      </ul>

      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <h2 class="nav-title">Follow Us</h2>
        </li>

        <!-- <li>
          <ul class="social-link">
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <br />
      <!-- <img src="." alt="payment method" class="payment-img"> -->

      <p class="copyright">
        Copyright &copy; <a href="#">E-store</a> all rights reserved.
      </p>
    </div>
  </div>
</footer>
