
  <header>

    <div class="header-top">

      <div class="container">

        <ul class="header-social-container">

          <li>
            <a href="#" class="social-link">
              <i class="pi pi-facebook"></i>
            </a>
          </li>



        </ul>

        <div class="header-top-actions">
<!--
            <p-dropdown style="transform: scale(0.75); z-index: 1;" [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" optionLabel="name" [showClear]="true"></p-dropdown> -->

        </div>

      </div>

    </div>

    <div class="header-main">

      <div class="container">

        <!-- <a href="#" class="header-logo">
          <img src="./assets/images/logo/logo.svg" alt="Anon's logo" width="120" height="36">
        </a> -->

        <div class="header-search-container">

          <input type="search" name="search" class="search-field" placeholder="Enter your product name...">

          <button class="search-btn">
            <i class="pi pi-search"></i>
          </button>

        </div>

        <div class="header-user-actions">

          <button [routerLink]="['auth']"  class="action-btn">
            <i class="pi pi-user"></i>
          </button>

          <button [routerLink]="['whishlist']"  class="action-btn">
            <i class="pi pi-heart"></i>
            <span class="count">0</span>
          </button>

          <button [routerLink]="['cart']"  class="action-btn">
            <i class="pi pi-shopping-bag"></i>
            <span class="count">0</span>
          </button>

        </div>

      </div>

    </div>

    <nav class="desktop-navigation-menu">

      <div class="container">

        <ul class="desktop-menu-category-list">

          <li class="menu-category">
            <a [routerLink]="['']" class="menu-title">Home</a>
          </li>
          <li class="menu-category">
            <a [routerLink]="['shop']"  class="menu-title">Shop</a>
          </li>
          <li class="menu-category">
            <a [routerLink]="['checkout']"  class="menu-title">Chekout</a>
          </li>

        </ul>

      </div>

    </nav>

    <div class="mobile-bottom-navigation">

      <button [routerLink]="['auth']"  class="action-btn" data-mobile-menu-open-btn>
        <i class="pi pi-bars"></i>
      </button>

      <button [routerLink]="['cart']"  class="action-btn">
        <i class="pi pi-shopping-bag"></i>

        <span class="count">0</span>
      </button>

      <button class="action-btn">
        <i class="pi pi-home"></i>
      </button>

      <button class="action-btn">
        <i class="pi pi-heart"></i>

        <span class="count">0</span>
      </button>

      <button class="action-btn" data-mobile-menu-open-btn>
        <i class="pi pi-th-large"></i>
      </button>

    </div>

    <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>

      <div class="menu-top">
        <h2 class="menu-title">Menu</h2>

        <button class="menu-close-btn" data-mobile-menu-close-btn>
          <i name="close-outline"></i>
        </button>
      </div>

      <ul class="mobile-menu-category-list">

        <li class="menu-category">
          <a href="#" class="menu-title">Home</a>
        </li>

      </ul>

      <div class="menu-bottom">

        <ul class="menu-category-list">

          <li class="menu-category">

            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Language</p>

              <i name="caret-back-outline" class="caret-back"></i>
            </button>

            <ul class="submenu-category-list" data-accordion>

              <li class="submenu-category">
                <a href="#" class="submenu-title">English</a>
              </li>

              <li class="submenu-category">
                <a href="#" class="submenu-title">Fren&ccedil;h</a>
              </li>

            </ul>

          </li>

          <li class="menu-category">
            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Currency</p>
              <i name="caret-back-outline" class="caret-back"></i>
            </button>

            <ul class="submenu-category-list" data-accordion>
              <li class="submenu-category">
                <a href="#" class="submenu-title">USD &dollar;</a>
              </li>

              <li class="submenu-category">
                <a href="#" class="submenu-title">EUR &euro;</a>
              </li>
            </ul>
          </li>

        </ul>

        <ul class="menu-social-container">

          <li>
            <a href="#" class="social-link">
              <i name="logo-facebook"></i>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <i name="logo-twitter"></i>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <i name="logo-instagram"></i>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <i name="logo-linkedin"></i>
            </a>
          </li>

        </ul>

      </div>

    </nav>

  </header>
  <br>
