
<main>
  <!-- banner header -->
  <div class="banner">
    <div class="container">
      <div class="slider-container has-scrollbar">
        <div class="slider-item" *ngFor="let i of banner">
          <img
            src="{{i?.img}}"
            alt="hero image"
            class="banner-img"
          />

          <div class="banner-content">
            <p class="banner-subtitle">{{i?.sub_title}}</p>

            <h2 class="banner-title">{{i?.title}}</h2>

            <!-- <p class="banner-text">starting at &dollar; <b>20</b>.00</p> -->

            <a href="#" class="banner-btn">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end banner content -->

<!-- category list -->
  <div class="category">

    <div class="container">

      <div class="category-item-container has-scrollbar">

        <div class="category-item" *ngFor="let i of categories">

          <div class="category-img-box">
            <img src="{{i?.img}}" alt="" width="30">
          </div>

          <div class="category-content-box">

            <div class="category-content-flex">
              <h3 class="category-item-title">{{i?.title}}</h3>

              <p class="category-item-amount">({{i?.amt}})</p>
            </div>

            <a href="#" class="category-btn">Show all</a>

          </div>

        </div>



      </div>

    </div>

  </div>
<!-- end category-content -->

<div class="product-container">

  <div class="container">
    <div class="sidebar  has-scrollbar" data-mobile-menu>

      <div class="sidebar-category">

        <div class="sidebar-top">
          <h2 class="sidebar-title">Category</h2>

          <button class="sidebar-close-btn" data-mobile-menu-close-btn>
            <i class="pi pi-close"></i>
          </button>
        </div>

        <ul class="sidebar-menu-category-list">

          <li class="sidebar-menu-category" *ngFor="let i of accordion">

            <button class="sidebar-accordion-menu" data-accordion-btn>

              <div class="menu-title-flex">
                <img src="{{i?.img}}" alt="clothes" width="20" height="20"
                  class="menu-title-img">

                <p class="menu-title">{{i?.title}}</p>
              </div>

              <div>
                <i class="pi pi-plus add-icon"></i>
                <i class="pi pi-minus remove-icon"></i>
              </div>

            </button>

            <ul *ngFor="let b of i?.data" class="sidebar-submenu-category-list" data-accordion>

              <li class="sidebar-submenu-category">
                <a href="#" class="sidebar-submenu-title">
                  <p class="product-name">{{b?.name}}</p>
                  <data value="{{b?.price}}" class="stock" title="{{b?.title}}">{{b?.price}}</data>
                </a>
              </li>

            </ul>

          </li>

        </ul>

      </div>


    </div>

    <div class="product-box">

      <!--
        - PRODUCT MINIMAL
      -->

      <div class="product-minimal">

        <div class="product-showcase">

          <h2 class="title">New Arrivals</h2>

          <div class="showcase-wrapper has-scrollbar">

            <div class="showcase-container" *ngFor="let i of showcase_container">

              <div class="showcase" *ngFor="let b of i?.data">

                <a href="#" class="showcase-img-box">
                  <img src="{{b?.img}}" alt="relaxed short full sleeve t-shirt" width="70" class="showcase-img">
                </a>

                <div class="showcase-content">

                  <a href="#">
                    <h4 class="showcase-title">
                      {{b?.title}}
                    </h4>
                  </a>

                  <a href="#" class="showcase-category">{{b?.category}}</a>

                  <div class="price-box">
                    <p class="price">{{b?.current_price}}</p>
                    <del>{{b?.normal_price}}</del>
                  </div>

                </div>

              </div>


            </div>

          </div>

        </div>


      </div>



      <!--
        - PRODUCT FEATURED
      -->

      <div class="product-featured">

        <h2 class="title">Deal of the day</h2>

        <div class="showcase-wrapper has-scrollbar">

          <div class="showcase-container" *ngFor="let i of deals_of_day">

            <div class="showcase">

              <div class="showcase-banner">
                <img src="{{i?.img}}" alt="shampoo, conditioner & facewash packs" class="showcase-img">
              </div>

              <div class="showcase-content">

                <div class="showcase-rating">
                  <i class="pi pi-star-fill"></i>
                  <i class="pi pi-star-fill"></i>
                  <i class="pi pi-star-fill"></i>
                  <i class="pi pi-star"></i>
                  <i class="pi pi-star"></i>
                </div>

                <a href="#">
                  <h3 class="showcase-title">
                    {{i?.prod_title}}
                  </h3>
                </a>

                <p class="showcase-desc">
                  {{i?.desc}}
                </p>

                <div class="price-box">
                  <p class="price">{{i?.price}}</p>

                  <del>$200.00</del>
                </div>

                <button class="add-cart-btn">add to cart</button>

                <div class="showcase-status">
                  <div class="wrapper">
                    <p>
                      already sold: <b>{{i?.sold}}</b>
                    </p>

                    <p>
                      available: <b>{{i?.total - i?.sold}}</b>
                    </p>
                  </div>

                  <div class="showcase-status-bar"></div>
                </div>

                <div class="countdown-box">

                  <p class="countdown-desc">
                    Hurry Up! Offer ends in:
                  </p>

                  <div class="countdown">

                    <div class="countdown-content">

                      <p class="display-number">360</p>

                      <p class="display-text">Days</p>

                    </div>

                    <div class="countdown-content">
                      <p class="display-number">24</p>
                      <p class="display-text">Hours</p>
                    </div>

                    <div class="countdown-content">
                      <p class="display-number">59</p>
                      <p class="display-text">Min</p>
                    </div>

                    <div class="countdown-content">
                      <p class="display-number">00</p>
                      <p class="display-text">Sec</p>
                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>



      <!--
        - PRODUCT GRID
      -->

      <div class="product-main">

        <h2 class="title">New Products</h2>

        <div class="product-grid">

          <div class="showcase" *ngFor="let i of product_card">

            <div class="showcase-banner">

              <img src="{{i?.img[0]}}" alt="Mens Winter Leathers Jackets" width="300" class="product-img default">
              <img src="{{i?.img[1]}}" alt="Mens Winter Leathers Jackets" width="300" class="product-img hover">

              <p class="showcase-badge">15%</p>

              <div class="showcase-actions">

                <button class="btn-action">
                  <i class="pi pi-heart"></i>
                </button>

                <button class="btn-action">
                  <i class="pi pi-eye"></i>
                </button>


                <button class="btn-action">
                  <i class="pi pi-shopping-bag"></i>
                </button>

              </div>

            </div>

            <div class="showcase-content">

              <a href="#" class="showcase-category">{{i?.category}}</a>

              <a href="#">
                <h3 class="showcase-title">{{i?.title}}</h3>
              </a>

              <div class="showcase-rating">
                <i class="pi pi-star-fill"></i>
                <i class="pi pi-star-fill"></i>
                <i class="pi pi-star-fill"></i>
                <i class="pi pi-star"></i>
                <i class="pi pi-star"></i>
              </div>

              <div class="price-box">
                <p class="price">{{i?.price}}</p>
                <del>$75.00</del>
              </div>

            </div>

          </div>



        </div>

      </div>

    </div>
  </div>
</div>


</main>

