<section class="container">
  <div class="flex justify-center items-center">
    <div class="py-16 px-4 md:px-6 2xl:px-0 flex justify-center items-center 2xl:mx-auto 2xl:container">
        <div class="flex flex-col justify-start items-start w-full space-y-9">
            <div class="flex justify-start flex-col items-start space-y-2">
                <button class="flex flex-row items-center text-gray-600 hover:text-gray-500 space-x-1">
                    <svg class="fill-stroke" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.91681 7H11.0835" stroke="currentColor" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M2.91681 7L5.25014 9.33333" stroke="currentColor" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M2.91681 7.00002L5.25014 4.66669" stroke="currentColor" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <p class="text-sm leading-none">Back</p>
                </button>
                <p class="text-3xl lg:text-4xl font-semibold leading-7 lg:leading-9 text-gray-800">Checkout</p>
                <p class="text-base leading-normal sm:leading-4 text-gray-600">Home > Electronics > Headphones > Cart > Checkout</p>
            </div>

            <div class="flex flex-col xl:flex-row justify-center xl:justify-between space-y-6 xl:space-y-0 xl:space-x-6 w-full">
                <div class="xl:w-3/5 flex flex-col sm:flex-row xl:flex-col justify-center items-center py-7 sm:py-0 xl:py-10 px-10 w-full">
                  <div class="md:flex items-strech py-8 md:py-10 lg:py-8 border-t border-gray-50">
                      <div class="md:w-4/12 2xl:w-1/4 w-full">
                          <img src="https://i.ibb.co/SX762kX/Rectangle-36-1.png" alt="Black Leather Bag" class="h-full object-center object-cover md:block hidden" />
                          <img src="https://i.ibb.co/g9xsdCM/Rectangle-37.pngg" alt="Black Leather Bag" class="md:hidden w-full h-full object-center object-cover" />
                      </div>
                      <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
                          <p class="text-xs leading-3 text-gray-800 md:pt-0 pt-4">RF293</p>
                          <div class="flex items-center justify-between w-full pt-1">
                              <p class="text-base font-black leading-none text-gray-800">North wolf bag</p>
                              <select aria-label="Select quantity" class="py-2 px-1 border border-gray-200 mr-6 focus:outline-none">
                                  <option>01</option>
                                  <option>02</option>
                                  <option>03</option>
                              </select>
                          </div>
                          <p class="text-xs leading-3 text-gray-600 pt-2">Height: 10 inches</p>
                          <p class="text-xs leading-3 text-gray-600 py-4">Color: Black</p>
                          <p class="w-96 text-xs leading-3 text-gray-600">Composition: 100% calf leather</p>
                          <div class="flex items-center justify-between pt-5">
                              <div class="flex itemms-center">
                                  <p class="text-xs leading-3 underline text-gray-800 cursor-pointer">Add to favorites</p>
                                  <p class="text-xs leading-3 underline text-red-500 pl-5 cursor-pointer">Remove</p>
                              </div>
                              <p class="text-base font-black leading-none text-gray-800">$9,000</p>
                          </div>
                      </div>
                  </div>
                  <div class="md:flex items-strech py-8 md:py-10 lg:py-8 border-t border-gray-50">
                      <div class="md:w-4/12 2xl:w-1/4 w-full">
                          <img src="https://i.ibb.co/c6KyDXN/Rectangle-5-1.png" alt="Gray Sneakers" class="h-full object-center object-cover md:block hidden" />
                          <img src="https://i.ibb.co/yVSpYqx/Rectangle-6.png" alt="Gray Sneakers" class="md:hidden w-full h-full object-center object-cover" />
                      </div>
                      <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
                          <p class="text-xs leading-3 text-gray-800 md:pt-0 pt-4">RF293</p>
                          <div class="flex items-center justify-between w-full pt-1">
                              <p class="text-base font-black leading-none text-gray-800">LW sneakers</p>
                              <select aria-label="Select quantity" class="py-2 px-1 border border-gray-200 mr-6 focus:outline-none">
                                  <option>01</option>
                                  <option>02</option>
                                  <option>03</option>
                              </select>
                          </div>
                          <p class="text-xs leading-3 text-gray-600 pt-2">Height: 10 inches</p>
                          <p class="text-xs leading-3 text-gray-600 py-4">Color: Black</p>
                          <p class="w-96 text-xs leading-3 text-gray-600">Composition: 100% calf leather</p>
                          <div class="flex items-center justify-between pt-5">
                              <div class="flex itemms-center">
                                  <p class="text-xs leading-3 underline text-gray-800 cursor-pointer">Add to favorites</p>
                                  <p class="text-xs leading-3 underline text-red-500 pl-5 cursor-pointer">Remove</p>
                              </div>
                              <p class="text-base font-black leading-none text-gray-800">$9,000</p>
                          </div>
                      </div>
                  </div>
                  <div class="md:flex items-strech py-8 md:py-10 lg:py-8 border-t border-gray-50">
                      <div class="md:w-4/12 2xl:w-1/4 w-full">
                          <img src="https://i.ibb.co/6gzWwSq/Rectangle-20-1.png" alt="Black Leather Purse" class="h-full object-center object-cover md:block hidden" />
                          <img src="https://i.ibb.co/TTnzMTf/Rectangle-21.png" alt="Black Leather Purse" class="md:hidden w-full h-full object-center object-cover" />
                      </div>
                      <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
                          <p class="text-xs leading-3 text-gray-800 md:pt-0 pt-4">RF293</p>
                          <div class="flex items-center justify-between w-full">
                              <p class="text-base font-black leading-none text-gray-800">Luxe card holder</p>
                              <select aria-label="Select quantity" class="py-2 px-1 border border-gray-200 mr-6 focus:outline-none">
                                  <option>01</option>
                                  <option>02</option>
                                  <option>03</option>
                              </select>
                          </div>
                          <p class="text-xs leading-3 text-gray-600 pt-2">Height: 10 inches</p>
                          <p class="text-xs leading-3 text-gray-600 py-4">Color: Black</p>
                          <p class="w-96 text-xs leading-3 text-gray-600">Composition: 100% calf leather</p>
                          <div class="flex items-center justify-between pt-5">
                              <div class="flex itemms-center">
                                  <p class="text-xs leading-3 underline text-gray-800 cursor-pointer">Add to favorites</p>
                                  <p class="text-xs leading-3 underline text-red-500 pl-5 cursor-pointer">Remove</p>
                              </div>
                              <p class="text-base font-black leading-none text-gray-800">$9,000</p>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="p-8 bg-gray-100 flex flex-col lg:w-full xl:w-3/5">
                    <button class="border border-transparent hover:border-gray-300 bg-gray-900 hover:bg-white text-white hover:text-gray-900 flex flex-row justify-center items-center space-x-2 py-4 rounded w-full">
                        <div>
                            <svg class="fill-current" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M10.9099 4.27692C9.6499 4.27692 9.1174 4.87817 8.2399 4.87817C7.34021 4.87817 6.65396 4.28129 5.56208 4.28129C4.49333 4.28129 3.35365 4.93379 2.6299 6.04535C1.61365 7.61285 1.78615 10.565 3.43208 13.08C4.02083 13.9804 4.80708 14.99 5.83833 15.001H5.85708C6.75333 15.001 7.01958 14.4141 8.25302 14.4072H8.27177C9.48677 14.4072 9.73052 14.9975 10.623 14.9975H10.6418C11.673 14.9866 12.5015 13.8679 13.0902 12.971C13.514 12.326 13.6715 12.0022 13.9965 11.2725C11.6155 10.3688 11.233 6.99348 13.5877 5.69942C12.869 4.79942 11.859 4.27817 10.9068 4.27817L10.9099 4.27692Z"
                                    fill="currentColor"
                                />
                                <path d="M10.6338 1C9.88379 1.05094 9.00879 1.52844 8.49629 2.15188C8.03129 2.71688 7.64879 3.555 7.79879 4.36781H7.85879C8.65754 4.36781 9.47504 3.88688 9.95254 3.27063C10.4125 2.68406 10.7613 1.85281 10.6338 1V1Z" fill="currentColor" />
                            </svg>
                        </div>
                        <div>
                            <p class="text-base leading-4">Pay</p>
                        </div>
                    </button>

                    <div class="flex flex-row justify-center items-center mt-6">
                        <hr class="border w-full" />
                        <p class="flex flex-shrink-0 px-4 text-base leading-4 text-gray-600">or pay with card</p>
                        <hr class="border w-full" />
                    </div>

                    <div class="mt-8">
                        <input class="border border-gray-300 p-4 rounded w-full text-base leading-4 placeholder-gray-600 text-gray-600" type="email" name="" id="" placeholder="Email" />
                    </div>

                    <label class="mt-8 text-base leading-4 text-gray-800">Card details</label>
                    <div class="mt-2 flex-col">
                        <div>
                            <input class="border rounded-tl rounded-tr border-gray-300 p-4 w-full text-base leading-4 placeholder-gray-600 text-gray-600" type="email" name="" id="" placeholder="0000 1234 6549 15151" />
                        </div>
                        <div class="flex-row flex">
                            <input class="border rounded-bl border-gray-300 p-4 w-full text-base leading-4 placeholder-gray-600 text-gray-600" type="email" name="" id="" placeholder="MM/YY" />
                            <input class="border rounded-br border-gray-300 p-4 w-full text-base leading-4 placeholder-gray-600 text-gray-600" type="email" name="" id="" placeholder="CVC" />
                        </div>
                    </div>

                    <label class="mt-8 text-base leading-4 text-gray-800">Name on card</label>
                    <div class="mt-2 flex-col">
                        <div>
                            <input class="border rounded border-gray-300 p-4 w-full text-base leading-4 placeholder-gray-600 text-gray-600" type="email" name="" id="" placeholder="Name on card" />
                        </div>
                    </div>

                    <label class="mt-8 text-base leading-4 text-gray-800">Country or region</label>
                    <div class="mt-2 flex-col">
                        <div class="relative">
                            <button (click)="isToggle ? (isToggle = 0) : (isToggle = 1)" id="changetext" class="text-left border rounded-tr rounded-tl border-gray-300 p-4 w-full text-base leading-4 placeholder-gray-600 text-gray-600 bg-white" type="email" name="" id="">{{ country }}</button>
                            <svg [ngClass]="'cursor-pointer absolute top-4 right-4 ' + (isToggle === 1 ? ' hidden ' : ' absolute ')" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.5 5.75L8 10.25L12.5 5.75" stroke="#27272A" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <svg *ngIf="isToggle === 1" class="cursor-pointer transform rotate-180 absolute top-4 right-4" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.5 5.75L8 10.25L12.5 5.75" stroke="#27272A" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <div [ngClass]="'mt-1  absolute z-10 w-full  bg-gray-50 justify-start flex-col text-gray-600 ' + (isToggle === 1 ? '' : 'hidden')">
                                <div (click)="country = 'United States'; (isToggle === 0)" class="cursor-pointer hover:bg-gray-800 hover:text-white px-4 py-2">United States</div>
                                <div (click)="country = 'China'; (isToggle === 0)" class="cursor-pointer hover:bg-gray-800 hover:text-white px-4 py-2">China</div>
                                <div (click)="country = 'Russia'; (isToggle === 0)" class="cursor-pointer hover:bg-gray-800 hover:text-white px-4 py-2">Russia</div>
                                <div (click)="country = 'UK'; (isToggle === 0)" class="cursor-pointer hover:bg-gray-800 hover:text-white px-4 py-2">UK</div>
                            </div>
                        </div>
                        <input class="border rounded-bl rounded-br border-gray-300 p-4 w-full text-base leading-4 placeholder-gray-600 text-gray-600" type="text" name="" id="" placeholder="ZIP" />
                    </div>

                    <button class="mt-8 border border-transparent hover:border-gray-300 bg-gray-900 hover:bg-white text-white hover:text-gray-900 flex justify-center items-center py-4 rounded w-full">
                        <div>
                            <p class="text-base leading-4">Pay $54652</p>
                        </div>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

</section>


